$iconSpritePath: '../../../images/glyphicons-halflings.png';
$iconWhiteSpritePath: '../../../images/glyphicons-halflings-white.png';
$hondaRed: #d50b19;
$navbarRadius: 5px;
$tabContentRadius: 5px;
$navbarMaxWidth: 65px;
$navbarMinWidth: 10px;
$sansFontFamily: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
$baseFontSize: 13px;
$baseBorderRadius: 2px;
$borderRadiusLarge: 4px;
$borderRadiusSmall: 1px;

@import 'sass-bootstrap/lib/bootstrap';
@import 'sass-bootstrap/lib/responsive';
// @import url(http://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700&subset=latin,latin-ext);

/* right navbar customization */
.dropdown-menu.topright {
  left: 100%;
  top: 0;
  margin-left: 2px;
  margin-top: 0;
}
.caret-right {
  border-left: 4px solid black;
  border-right: 0;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
}
/* customization end */

body {
  font-weight: 300;
}
a {
  font-weight: 400;
}

.body-background-wrapper {
  position: fixed;
  @include size(100%, 100%);
  overflow: hidden;
  @include background-size(cover);
  background-repeat: no-repeat;
  @include transition(opacity 2s linear);
  z-index: -9999;
}

.chromeframe {
  background: white;
  color: red;
  text-align: center;
}

.sidebar-nav-wrapper {
  @include size(100%, $navbarMaxWidth);
  left: $navbarMinWidth - $navbarMaxWidth;
  position: fixed;
  background: $hondaRed;
  text-align: center;
  @include border-top-right-radius($navbarRadius);
  @include border-bottom-right-radius($navbarRadius);
  @include box-shadow(0px 0px 3px black, inset -2px 0px 10px -2px white);
  @include opacity(80);
  @include transition(left .2s ease .5s);
  &:hover, &.focused {
    left: 0;
    @include transition-delay(0s);
  }
  .iconlist-wrapper {
    display: inline-block;
    margin-top: 5px;
    text-align: left;
  }
}
.forum-width-wrapper {
  width: 100%;
  .forum-tabs-wrapper {
    margin-left: $navbarMinWidth;
    #forum-main-navtabs {
      margin-bottom: 0;
      background: rgba(255,255,255,.8);
      li a {
        max-width: 80px;
        @include text-overflow();
        cursor: pointer;
      }
    }
    #forum-main-tabcontent-wrapper {
      background: url('../images/marble-opaque-bg.png') repeat repeat;
      @include border-bottom-left-radius($tabContentRadius);
      @include border-bottom-right-radius($tabContentRadius);
      .topic-index-tab {
        .topic-highlighted,
        .topic-bookmarked,
        .topic-not-bookmarked,
        .topic-archived {
          border: 2px dashed black;
          margin: 10px;
          @include border-radius($borderRadiusLarge);
          .pagination-wrapper {
            // Insert styling here
          }
          &:empty {
            display: none;
          }
        }
        .list-wrapper {
          margin: 0;
          @include border-radius($borderRadiusLarge);
          .topic-list-item {
            margin-left: 0;
            padding: 5px;
            &:nth-child(even) {
              background-color: rgba(255,255,255, 0.1);
            }
            &:nth-child(odd) {
              background-color: rgba(100,100,100, 0.1);
            }
            list-style-type: none;
            .topic-name {
              // margin-left: 0;
            }
            .topic-name,
            .comment-count,
            .last-commenter-name,
            .last-comment-date {
              text-align: center;
            }
          }
        }
      }
      .comments-page-tab {
        .comment-list-wrapper {
          .topic-comment-wrapper {
            &,
            .comment-header-wrapper,
            .comment-body-wrapper,
            .comment-footer-wrapper {
              margin: 10px;
            }
            @include border-radius($borderRadiusLarge);
            border: 2px dotted black;
            @include transition(all .2s ease .5s);
            &:hover {
              @include box-shadow(0px 0px 4px black, inset 0px 0px 3px white);
              background-color: rgba(100,100,100, 0.1);
            }
          }
        }
      }
    }
  }
}
